.container{
	float: left;
	width: 20px;
	margin: 50px 0 0 100px;

}
.tab{
	cursor: pointer;
	display: inline-block;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;

}
.content{
	display: none;
	width: 400px;
	background-color: #333;
	color: white;
}
.tab:hover{
	background-color: #333;
	color: white;
}
