table{
	width: 1000px;
	width: 550px;
	margin: 0 auto;
	background-color: #ADBDDF;
}
table>tr{
}
table>td{
}
div{
	text-align: center;
}
div p{
	display: inline-block;
	margin-top: 20px;
	margin-left: 10px;
	text-decoration: underline;
	cursor: pointer;
}
.changecolor:hover{
	background-color: #4BDC67;
	cursor: pointer;
}