*{
	font-family: 'Arial';
}
#menu{
	margin: 0 auto;
	width: 40%;
	box-shadow: 0px 0px 10px black;

}
#phandau, #login, #input, #footer{
padding: 0 30px;

}
#phandau h2{
	display: inline-block;
}
#close{
	float: right;
	margin-top: 25px;
	font-size: 20px;
	color: #9FA2A5;
	cursor: pointer;
}
#clear {
	clear: both;
}

.btn{
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	margin-top: 20px;
}
#login a{
	text-align: center;
	color: black;
	text-decoration: none;
	font-weight: bold;
	line-height: 200%;
	padding-top: 7px;
}
#facebook{
	background-color:#3D95E3;
}
#twitter{
	background-color:#A6CDEE;
}
#input input{
	padding-left: 10px;
	font-weight: bold;
	border: 1px solid gray;
	margin-top:10px;
	font-size:20px;
}
#input a{
	text-decoration: none;

}
#cdpass{
	float: left;
}
#bt-sbm{
	float: right;
	width: 70px;
	height: 50px;
	background: red;
	color: white;
	border-radius: 10px;
	font-size: 17px;
}
form > hr {
    margin-bottom: 0;
}
#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #e8e8e8;
}
#input{
	padding-top: 20px;
}
b{
	color: #8C9094;
}